@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-gray: #0E1015;
    --gray: #181A20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.universal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-bg);
  color: white;
}

.title {
    color: #EFECF0;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    margin-bottom: 1rem;
    margin-left: 5px;
}

.wrapper {
    margin: 0 1%;
    width: 98%;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.hero {
    height: 300px;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    position: relative; /* add this */ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search-rect {
    height: 47px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    opacity: 0.99;
    margin: 20px 0;
    align-items: center;
    display: flex;
}

input {
    color: black;
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}

.subsearch-row {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.subsearch-text {
    flex: 1;
    background-color: transparent;
}

.search-container {
  flex: 2;
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.search-container > *:not(:last-child) {
  margin-right: 10px; /* Adjust this value to increase or decrease the space */
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.column1, .column2, .column3 {
  position: relative;
  flex: 1;
  background-color: transparent;
}

.css-b62m3t-container {
  background-color: transparent;
}

.dropdown-placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;  
    position: absolute;
    top: 20%;
    left: 10px;
    background-color: white;
    color: black;
}

.question-list-rect {
  background-color: var(--light-bg); /* Use RGBA to set the opacity of the background */
  height: 100%;
  width: 100%;
  border: 2.5px solid var(--code-bg); /* Use RGBA to set the opacity of the border */
  margin: 0;
  padding: 0;
  overflow: auto;
}

thead {
  background-color: var(--navbar);
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
}

th {
  padding-left: 5px;
}

.question-list-title {
  margin: 10px 10px;
  background-color: transparent;
  color: white;
}

table {
  width: 100%;
  color: white !important;
  font-family: "Ubuntu Mono";
}

tr {
  height: 40px;
}

td {
  padding-left: 10px;
  background-color: var(--code-bg);
}

.open-question {
  display: flex;
  padding: 12px 16px;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: medium;
  margin: 0 !important;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h3 {
  color: white;
}