:root {
  --dark-bg:#1B1B32;
  --light-bg: #3B3B4F;
  --code-bg: #0A0A23;
  --navbar: #0A0A23;
}

.scrollableContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
}

.split {
  height: 100vh;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    height: 10px; 
}

.problem-statement {
  margin: 2rem auto;
  width: 80%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
}

.description h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.description ul {
  padding-left: 2rem;
  list-style-type: disc;
}

.description li {
  margin-bottom: 0.5rem;
}

.codeEditor {
  background-color: var(--dark-bg);
  resize: vertical;
  overflow: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.code-input {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
}

.buttonRow {
  display: flex;
  background: var(--navbar);
  align-items: center;
}

.rightAlign {
  position: absolute;
  right: 0;
  display: flex;
  background-color: var(--dark-bg);
}

.button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: #2E3139;
  width: 156px;
  height: 48.848px;
  flex-shrink: 0;
  font-size: medium;
}

.buttonText {
  flex: 2;
  text-align: left;
}

.closeIcon {
  flex: 1;
  background-color: var(--dark-bg);
}

.buttonIcon {
  background-color: var(--dark-bg);
  border: none;
  font-size: large;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}

.newTab {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.run-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
}

.run-button:hover {
  background-color: #3e8e41;
}

.output {
  white-space: pre-wrap;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
}

.test-cases {
  margin-top: 1rem;
  display: flex; /* Add this line */
  justify-content: space-between; /* Add this line */
  flex-wrap: wrap; /* Add this line */
}

.test-case {
  margin-bottom: 1rem;
  flex: 1; /* Add this line */
  min-width: 200px; /* Add this line */
}

.input,
.output {
  white-space: pre-wrap;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  background-color: #f5f5f5;
}

.output {
  background-color: #e5e5e5;
}

.inputOutputSection {
  resize: vertical;
  overflow: auto;
}

.tabWrapper {
  overflow: hidden;
  height: 48.848px;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden; /* Disable vertical scrollbar */
  background: var(--navbar);
  align-items: center;
  width: 100%;
  margin: 0 0;
  height: 48.848px;
}

.buttonRow::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.buttonRow::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
}

.rightAlign {
  position: absolute;
  right: 0;
  display: flex;
  background-color: var(--dark-bg);
}

.buttonTab {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: #2E3139;
  width: 156px;
  height: 48.848px;
  flex-shrink: 0;
  font-size: medium;
}

.buttonText {
  flex: 2;
  text-align: left;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}