:root {
  --navbar: #0A0A23;
  --site-bg: #16161e;
  --code-bg: #1a1b26;
  --border: black;
  --accent: #3D59A1;
  --hover: #13131A;
  --selected-item: #202330;
  --dim-text: #A9B1D6;
}

#root {
  background-color: var(--code-bg);
}

.body {
  background-color: var(--site-bg);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.m_b183c0a2 {
  font-size: medium !important;
}