:root {
  --navbar: #0A0A23;
  --site-bg: #16161e;
  --code-bg: #1a1b26;
  --border: black;
  --accent: #3D59A1;
  --hover: #13131A;
  --selected-item: #202330;
  --dim-text: #A9B1D6;
}

#root {
  background-color: var(--code-bg);
}

.body {
  background-color: var(--site-bg);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.m_b183c0a2 {
  font-size: medium !important;
}

.mantine-Table-table {
  border: 1px solid var(--border) !important;
}

.mantine-Table-tr	{
  border: 1px solid var(--border) !important;
}

table {
  width: 100%;
  color: white !important;
  font-family: "Ubuntu Mono";
}

thead {
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
}

th {
  padding-left: 5px;
}

tr {
  height: 40px;
}

td {
  padding-left: 10px;
  background-color: var(--code-bg);
}

input {
  color: black;
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

.mantine-Select-option {
  &:hover {
    background-color: var(--hover) !important;
  }
}